:root {
    font-family: 'Arial', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

#app,
#app>*,
.Panel,
.Panel>*,
.main,
.main>*,
.p-panel,
.p-panel .p-panel-content,
.p-toggleable-content {
    height: auto !important;
}

p {
    color: white;
}

*:not(body, html)::-webkit-scrollbar {
  width: 8px;
}

*:not(body, html)::-webkit-scrollbar-track {
  background: #555;
  border-radius: 10px;
  cursor: pointer;
}

*:not(body, html)::-webkit-scrollbar-thumb {
  background: #5e951c;
  border-radius: 10px;
  cursor: pointer;
}

*:not(body, html)::-webkit-scrollbar-thumb:hover {
  background: #84dc09;
}